@import url('https://fonts.googleapis.com/css?family=Poppins');


.OutLayout{
  width: 100%;
  height: 100vh;
}

.logo {
  width: auto;
  vertical-align: super;
  float: left;
  padding-left: 0%;
  color: white;

}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
}
